* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    font-family: 'Poppins', sans-serif;
    background-color: #f7f7f7;
    color: #333;
    line-height: 1.6;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
/*     background: linear-gradient(135deg, #6e7bff, #a7a6ff); */
    background-color: #e30808;
    color: white;
    padding: 60px 0;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

nav .logo h1 {
    font-size: 2rem;
    font-weight: 600;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    font-size: 1.1rem;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f7f7f7;
}

.hero-section {
    margin-top: 50px;
}

.hero-section h2 {
    font-size: 3rem;
    font-weight: 600;
}

.hero-section h2 span {
    color: #f7f7f7;
}

.hero-section p {
    font-size: 1.2rem;
    margin: 20px 0;
}

.hero-section .btn {
    background-color: #ff7f50;
    color: white;
    padding: 10px 20px;
    font-size: 1.1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.hero-section .btn:hover {
    background-color: #ff5733;
}

/* Sections */
.section {
    padding: 60px 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

p {
    text-align: center;
    font-size: 1.1rem;
    margin-bottom: 30px;
}

.about-list {
    list-style: none;
    font-size: 1.1rem;
    text-align: center;
    margin-top: 20px;
}

.about-list li {
    margin: 10px 0;
}

.projects-container {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.project-card {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    transition: transform 0.3s, box-shadow 0.3s;
}

.project-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15);
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
}

.project-card h3 {
    font-size: 1.5rem;
    margin: 20px 0;
}

.project-card p {
    font-size: 1.1rem;
    color: #777;
}

.project-card .btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.project-card .btn:hover {
    background-color: #0056b3;
}

/* Footer */
footer {
    background-color: #333;
    color: white;
    padding: 30px 0;
    text-align: center;
}

footer p {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .projects-container {
        flex-direction: column;
        align-items: center;
    }

    .project-card {
        width: 80%;
        margin-bottom: 30px;
    }
}
